body{
  background-color: #e3fdfd;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1{
  color: #71c9ce;
}
h2{
  color: #71c9ce;
}
h3{
  color: #71c9ce;
}
